*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.xml
*.nav
*.snm
*.vrb
svg-inkscape
macros.include.tex
chapter_introduction.pdf
chapter_experiment.pdf
chapter_prediction.pdf
chapter_conclusion.pdf
thesis.pdf
slides.pdf
slides_old.pdf
slides_rasterized.pdf
*~
data/prediction/modeling/kernels/dgemm_calibration.csv
data/prediction/modeling/kernels/trace_functions.csv
data/prediction/modeling/network/dahu/
data/prediction/modeling/network/stampede
figures_ipynb/.ipynb_checkpoints
data/prediction/validation/traces/
data/prediction/validation/mpi_calibration
chapter_appendix.pdf
